{% extends 'base.html' %}
{% load static %}

{% block title %}Мое Портфолио{% endblock %}

{% block content %}
<section id="home" class="text-left">
  <div class="container d-flex align-items-center">
    <div>
      <h1 style="font-size: 2.5rem;">Привет, это мое портфолио!</h1>
      <h1 style="font-size: 3.5rem;"><span class="highlight auto-type"></span></h1>
      <a href="https://github.com/dside33" target="_blank" rel="noopener noreferrer" data-aos="fade-up">
          <img src="{% static 'img/github.png' %}" alt="GitHub" style="width: 40px; height: 40px;">
          github
        </a>
      <div class="mt-3" data-aos="fade-up">
        <a href="{% static 'files/resume.pdf' %}" class="btn btn-primary btn-lg ml-2" download>Скачать резюме</a>
      </div>
    </div>
    <div>
      <img src="{% static 'img/1.png' %}" alt="My Image" class="img-fluid ml-3 float">
    </div>
  </div>
</section>



<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script>
  var typed = new Typed('.auto-type', {
    strings: ['Back End', 'Django'],
    typeSpeed: 100,
    backSpeed: 150,
    loop: true,
    loopCount: Infinity
  });
</script>

<section id="about" class="text-center">
  <div class="container" data-aos="fade-up">
    <h1 class="display-4">Обо мне</h1>
    <p class="lead">Я Junior Django backend разработчик.</p>
    <p class="lead">Специализируюсь на создании надежных веб-приложений, используя Django и другие современные технологии.</p>
    <p class="lead">В свободное время увлекаюсь программированием и изучаю новые технологии. Всегда открыт для новых возможностей и вызовов, чтобы применить свои навыки и знания на практике.</p>
    
    <h2 class="mt-5">Технологии и инструменты</h2>

    <div class="row justify-content-center">
      {% for tech in technologies %}
      <div class="col-6 col-md-3 my-2" data-aos="fade-up">
        <div class="tech-card d-flex align-items-center p-3 border rounded bg-white">
          <img src="{% static 'img/'|add:tech.image %}" alt="{{ tech.name }}" class="img-fluid mr-2" style="height: 40px;">
          <p class="mb-0">{{ tech.name }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="projects" class="text-center bg-light">
  <div class="container">
    <h1 class="display-4">Проекты</h1>
    <p class="lead">Здесь представлены мои проекты.</p>
    <div class="row">
  <div class="col-md-4" data-aos="fade-up">
    <a href="https://github.com/dside33/NotificationsService" target="_blank" rel="noopener noreferrer" class="card-link">
      <div class="card mb-4 shadow-sm">
        <img src="{% static 'img/project1.png' %}" class="card-img-top small-img mx-auto d-block mt-4" alt="Project 1">
        <div class="card-body">
          <h5 class="card-title">NotificationsService</h5>
          <p class="card-text">API-сервис рассылки экстренных сообщений на Django. При post запросе на эндпоинт с файлом пользователей происходит рассылка сообщений. Список пользователей с их контактами хранится в json/csv. (Django, DRF, Celery, Redis, Docker)</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-4" data-aos="fade-up">
    <a href="https://github.com/dside33/PDF2MP3" target="_blank" rel="noopener noreferrer" class="card-link">
      <div class="card mb-4 shadow-sm">
        <img src="{% static 'img/project2.png' %}" class="card-img-top small-img mx-auto d-block mt-4" alt="Project 2">
        <div class="card-body">
          <h5 class="card-title">PDF2MP3</h5>
          <p class="card-text">Приложение на Python по переводу PDF файла в mp3 формат</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-4" data-aos="fade-up">
    <a href="https://github.com/dside33/test-task-1" target="_blank" rel="noopener noreferrer" class="card-link">
      <div class="card mb-4 shadow-sm">
        <img src="{% static 'img/project3.png' %}" class="card-img-top small-img mx-auto d-block mt-4" alt="Project 3">
        <div class="card-body">
          <h5 class="card-title">TestJunior</h5>
          <p class="card-text">Тестовое задание на позицию Django-Junior. Простой сервис проведения тестирования по каким-либо темам. Т.е. есть тесты с вариантами ответов, тесты группируются в наборы тестов, которые затем пользователь может проходить и видеть свой результат.</p>
        </div>
      </div>
    </a>
  </div>
</div>
    </div>
  </div>
</section>

<section id="contact" class="text-center">
  <div class="container">
    <h1 class="display-4">Контакты</h1>
    <p>Email: avtovarnov@yandex.ru</p>
  </div>
</section>
{% endblock %}
